<!DOCTYPE html>
<html lang='en'>
<head>
    <% include ../_partials/header.ejs %>
    <script type='text/javascript' src='/javascript/settings.js'></script>
</head>
<body ng-app=''>
    <% include ../_partials/navbar.ejs %>
    <main>
      <h1>My settings</h1>
        <form id='settings-form' method='post' action='/api/users/<%= user._id %>'>

            <div class='input-group'>
                <span class='input-group-addon'><span class='glyphicon glyphicon-pencil'></span></span>
                <input class='form-control' type='text' name='first_name' placeholder='First name' value='<%= user.first_name %>'>
            </div>

            <span class='help-block'></span>

            <div class='input-group'>
                <span class='input-group-addon'><span class='glyphicon glyphicon-pencil'></span></span>
                <input class='form-control' type='text' name='last_name' placeholder='Last name' value='<%= user.last_name %>'>
            </div>

            <span class='help-block'></span>

            <div class='input-group'>
                <span class='input-group-addon'><span class='glyphicon glyphicon-camera'></span></span>
                <input class='form-control' type='text' name='image' placeholder='Image URL' value='<%= user.image %>'>
            </div>

            <span class='help-block'></span>

            <div class='input-group'>
                <span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>
                <input class='form-control' type='password' name='password' placeholder='Password'>
            </div>

            <span class='help-block'></span>

            <button type='submit' class='btn btn-primary'><i class='fa fa-user-plus'></i> Update</button>
        </form>
    </main>
</body>
</html>
