@media (min-width: 768px) {
    #login-form {
        margin-left: 25%;
    }
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute;
    left: 0; 
    top: 0; 
    bottom: 0;
    right: 0;
    z-index: -10;
    overflow: hidden;
}

#background > img {
    position: absolute;
    width: 100%;
}

#hill-night {
    z-index: -1;

}

#clouds-night {
    z-index: -2;
}
