<!DOCTYPE html>
<html lang="en">
<head>
    <% include _partials/header.ejs %>
    <link type='text/css' rel='stylesheet' href='/css/index.css'>
    <link type='text/css' rel='stylesheet' href='/css/parallax.css'>
    <script type='text/javascript' src='/javascript/parallax.js'></script>
</head>
<body ng-app=''>
    <div id='background'>
        <img id='hill-night' src='/images/hill-night.png'/>
        <img id='clouds-night' class='parallax-bg' src='/images/clouds-night.jpg'/>
    </div>
    <% include _partials/navbar.ejs %>
    <main>
        <h1>Project Atra</h1>
        <p>Please sign in to make use of the realtime features of this website.</p>
        <p>After signing in, chat with others by clicking on <code>Admin/Chat</code></p>
    </main>
</body>
</html>
