<!DOCTYPE html>
<html lang="en">
<head>
    <% include _partials/header.ejs %>
    <link rel='stylesheet' href='/css/index.css'>
</head>
<body ng-app=''>
    <% include _partials/navbar.ejs %>
    <video autoplay loop>
        <source src="/videos/titlescreen.mp4" type="video/mp4">
    </video>
    <main>
        <h3>Project Atra</h3>
        <p>Please sign in to make use of the realtime features of this website.</p>
        <p>After signing in, chat with others by clicking on <code>Admin/Chat</code></p>
    </main>
</body>
</html>
