<!DOCTYPE html>
<html lang='en'>
<head>
    <% include _partials/header.ejs %>
</head>
<body ng-app=''>
    <% include _partials/navbar.ejs %>
    <main>
      <h1>Projects</h1>
      <p>Projects will be displayed here.</p>
    </main>
</body>
</html>
