<div class="modal fade" id="edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="edit-project-label" aria-hidden="true">
  <div class="modal-dialog">
    <form id='edit-project-form' method='post' action='' enctype='multipart/form-data'>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="edit-project-label">Edit project</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="project-name" class="control-label">Name:</label>
              <input id="project-name" type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="project-content" class="control-label">Content:</label>
              <textarea id="project-content" class="form-control" name="content"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
