<meta charset='UTF-8'>
<title>Project Atra</title>

<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css'>
<link rel='stylesheet' href='/css/core.css'>

<script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js'></script>
<script src='//code.jquery.com/ui/1.11.2/jquery-ui.js'></script>
<script type='text/javascript' src='/socket.io/socket.io.js'></script>

<script type='text/javascript' src='/javascript/init.js'></script>
<script type='text/javascript' src='/javascript/login.js'></script>

<meta name='viewport' content='width=device-width, initial-scale=1'>
