<div class='modal fade' id='login-modal' tabindex='-1' role='dialog' aria-labelledby='modal-title' aria-hidden='true'>
    <div class='modal-dialog'>
        <form id='signin-form' method='post' action='/login' autocomplete='off'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                    <h4 class='modal-title' id='modal-title'>Please enter your credentials</h4>
                </div>
                <div class='modal-body'>
                        <div class='input-group'>
                            <span class='input-group-addon'><span class='glyphicon glyphicon-user'></span></span>
                            <input class='form-control' type='text' name='email' placeholder='Email' required='true'>
                        </div>

                        <span class='help-block'></span>

                        <div class='input-group'>
                            <span class='input-group-addon'><span class='glyphicon glyphicon-lock'></span></span>
                            <input class='form-control' type='password' name='password' placeholder='Password' required='true'>
                        </div>
                </div>
                <div class='modal-footer'>
                    <a class='pull-left' href="/register">Register now!</a>
                    <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
                    <button id='signin-form-submit' type='submit' class='btn btn-primary'><i class='fa fa-sign-in'></i> Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
