<nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse-portfolio'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>
                <% if (typeof user == 'undefined' || user == null) { %>
                    <img src='/images/logo.png'>
                <% } else { %>
                    <img src='<%= user.image %>'>
                <% } %>
            </a>
        </div>

        <div class='collapse navbar-collapse' id='navbar-collapse-portfolio'>
            <ul class='nav navbar-nav navbar-right'>
                <li class='dropdown'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>Portfolio<span class='caret'></span></a>
                    <ul class='dropdown-menu' role='menu'>
                        <li><a href='#'>About me</a></li>
                        <li><a href='/projects'>Projects</a></li>
                        <li class='divider'></li>
                        <li><a href='#'>More info</a></li>
                    </ul>
                </li>
                <% if (typeof user == 'undefined' || user == null) { %>
                    <li>
                        <button class='navbar-btn btn-primary btn' data-toggle='modal' data-target='#login-modal'>Sign in</button>
                    </li>
                <% } else { %>
                    <li class='dropdown'>
                        <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>Admin<span class='caret'></span></a>
                        <ul class='dropdown-menu' role='menu'>
                            <li><a href='/admin/chat'>Chat</a></li>
                            <li><a href='/admin/game'>Game</a></li>
                        </ul>
                    </li>
                    <li>
                        <button id='online-button' class='navbar-btn btn btn-default' data-toggle='modal' data-target='#online-modal'>Online</button>
                    </li>
                    <li>
                        <button class='navbar-btn btn-primary btn' onclick='window.location.href="/logout"'>Log out</button>
                        <input id='current-user' type='hidden' value='<%= user.email %>'/>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<% include login-modal.ejs %>
<% include online-modal.ejs %>
