<div class='modal fade modal-fullscreen' id='online-modal' tabindex='-1' role='dialog' aria-labelledby='modal-title' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title' id='modal-title'>Currently online</h4>
            </div>
            <div class='modal-body'>
            <table id='table-currently-online' class='table table-striped'>
                <tbody></tbody>
              </table>
            </div>
        </div>
    </div>
</div>
