<!DOCTYPE html>
<html lang='en'>
<head>
    <% include ../_partials/header.ejs %>
    <link rel='stylesheet' href='/css/game.css'>
    <script type='text/javascript' src='/javascript/game.js'></script>
</head>
<body ng-app=''>
    <% include ../_partials/navbar.ejs %>
    <div class='world content-absolute'>
        <div class='map' data-width='800' data-height='600'>
            <a href="/admin/game"><div class='character me' data-x='0' data-y='0' data-width='64' data-height='64'></div></a>
        </div>
    </div>
</body>
</html>
